// -----------------------------------------------------------------------------
//   Omnipedia <media> element stylesheet
// -----------------------------------------------------------------------------

@import '../../../../ambientimpact/ambientimpact_core/stylesheets/_common.scss';
@import '../../../_components.scss';

.omnipedia-media {
  max-width: 100%;

  margin-bottom: $omnipedia-media-outer-spacing;

  @include media('<omnipedia-media-floated') {
    .field__item {
      // This overrides the inline max-width so that the field can expand to the
      // available space on narrow viewports, as having a fixed max-width
      // results in awkward spaces.
      max-width: 100% !important;
    }
  }

  @include media('>=omnipedia-media-floated') {
    &--align-left,
    &--align-right {
      max-width: 30%;
    }
    &--align-left {
      float:        left;
      clear:        left;
      margin-right: $omnipedia-media-outer-spacing;
    }
    &--align-right {
      float:        right;
      clear:        right;
      margin-left:  $omnipedia-media-outer-spacing;
    }
  }
}
