// -----------------------------------------------------------------------------
//   Omnipedia <media> element stylesheet
// -----------------------------------------------------------------------------

@use '_media' as media;
@use 'sass/helpers/breakpoint';

.omnipedia-media {
  max-width: 100%;

  margin-bottom: media.$outer-spacing;

  @include breakpoint.on('<omnipedia-media-floated') {
    .field__item {
      // This overrides the inline max-width so that the field can expand to the
      // available space on narrow viewports, as having a fixed max-width
      // results in awkward spaces.
      max-width: 100% !important;
    }
  }

  @include breakpoint.on('>=omnipedia-media-floated') {
    &--align-left,
    &--align-right {
      max-width: 30%;
    }
    &--align-left {
      float:        left;
      clear:        left;
      margin-right: media.$outer-spacing;
    }
    &--align-right {
      float:        right;
      clear:        right;
      margin-left:  media.$outer-spacing;
    }
  }

  // If the media is displayed using the embedded group view mode, hide the
  // media's caption in favour of the group's caption.
  //
  // Note that this needs to be done in the media stylesheet rather than the
  // media_group stylesheet because the latter may be detached after navigating
  // away to a page that doesn't have a media_group which cause some brief
  // layout shifting due to the caption becoming visible.
  .media--view-mode-omnipedia-embedded-group figcaption {
    display: none;
  }

}
