{#
/**
 * @file
 * Default theme implementation for Omnipedia media element.
 *
 * Available variables:
 *
 * - 'media': A render array for the media entity.
 *
 * - 'media_type': The media entity type/bundle, e.g. 'image', 'video',
 *   'remote_video', etc.
 *
 * - 'attributes': Attribute object for the container element.
 *
 * - 'align': The direction to float this media element ('left' or 'right'), or
 *   no floating (a value of 'none').
 *
 * - 'style': The visual style of the media element. Common values are 'framed'
 *   or 'frameless', but can be any arbitrary string to allow different styles
 *   and layout to be applied. Defaults to 'framed'.
 *
 * - 'view_mode': The view mode to display the media entity as. Defaults to
 *   'omnipedia_embedded'.
 *
 * @ingroup themeable
 */
#}

{% set base_class = 'omnipedia-media' %}

{% set attributes = attributes.addClass([
  base_class,
  base_class ~ '--align-' ~ align,
  base_class ~ '--style-' ~ style,
  base_class ~ '--type-'  ~ media_type|clean_class,
]) %}

{% set media = media|merge({
  '#attributes': media['#attributes'].addClass([
    base_class ~ '__media',
  ])
}) %}

<div{{ attributes }}>
  {{ media }}
</div>
