// -----------------------------------------------------------------------------
//   Omnipedia <media-group> element stylesheet
// -----------------------------------------------------------------------------

@use 'media';
@use 'sass/helpers/breakpoint';

.omnipedia-media-group {
  max-width: 100%;

  margin-bottom: media.$outer-spacing;

  @include breakpoint.on('>=omnipedia-media-floated') {
    &--align-left,
    &--align-right {
      max-width: 50%;
    }
    &--align-left {
      float:        left;
      clear:        left;
      margin-right: media.$outer-spacing;
    }
    &--align-right {
      float:        right;
      clear:        right;
      margin-left:  media.$outer-spacing;
    }
  }

  &__list {
    list-style: none;
  }

}
