// -----------------------------------------------------------------------------
//   Omnipedia <media-group> element stylesheet
// -----------------------------------------------------------------------------

@import '../../../../ambientimpact/ambientimpact_core/stylesheets/_common.scss';
@import '../../../_components.scss';

.omnipedia-media-group {
  max-width: 100%;

  margin-bottom: $omnipedia-media-outer-spacing;

  @include media('>=omnipedia-media-floated') {
    &--align-left,
    &--align-right {
      max-width: 50%;
    }
    &--align-left {
      float:        left;
      clear:        left;
      margin-right: $omnipedia-media-outer-spacing;
    }
    &--align-right {
      float:        right;
      clear:        right;
      margin-left:  $omnipedia-media-outer-spacing;
    }
  }

  &__list {
    list-style: none;
  }

  figcaption {
    display: none;
  }
}
